.projectNav {
  background-color: transparent;
  color: white !important;
  border-radius: 5px 5px 0 0;
}

.projectNav:hover {
  color: white !important;
  border: solid 1px white;
  border-bottom: solid 1px black;
  color: white !important;
  margin: -1px;
}

.projectNav:focus {
  background-color: transparent !important;
  border-bottom: solid 1px black;
}

.projectNav.show {
  background-color: #1abc9c !important;
}

.projectNav:active {
  border: solid 3px white;
  border-bottom: solid 1px black;
  color: white !important;
  margin: -3px;
  margin-bottom: -1px;
}

.selected {
  border: solid 1px white;
  border-bottom: solid 1px black;
  color: white !important;
  margin: -1px;
}

.navLink {
  background-color: #1abc9c !important;
  display: block;
  padding: 0.5rem 1rem;
}

.active {
  background-color: #1abc9c;
}

.container {
  color: white;
}

body {
  overflow-y: scroll;
}
