.customForm {
  width: 100%;
  background: transparent;
  color: white;
  font-size: 16px;
}

.customInput {
  outline: none;
  border: none;
  background: transparent;
  margin-bottom: 15px;
  border-radius: 8px;
  border-bottom: solid 1px !important;
  color: white;
  font-size: 16px;
}

.customInput:active,
.customInput:focus {
  background: white;
  border: none;
  outline: none;
  color: black;
}

.description {
  width: 100%;
  background-color: #1a1a1b;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}

.container {
  color: white;
  margin-top: 50px;
}

.projectItem {
  background-color: black;
  color: #d7dadc;
  padding-bottom: 15px;
  margin: 10px;
  border-radius: 8px;
  text-align: left;
}
