.profile {
  color: white;
}
.image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info {
  display: block;
}
.user-project,
.user-profile {
  background-color: #1a1a1b;
  color: #d7dadc;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  text-align: left;
}
.user-info {
  text-align: left;
}

.edit {
  color: #0d5f4f;
  background-color: transparent;
  border: none;
  padding: 0;
}
.edit:hover {
  transform: scale(1.2);
  color: #1abc9c;
}
.edit:focus {
  border: none;
  outline: none;
}
