.list-button {
  background: #1a1a1b;
  border: none;
  color: #d7dadc;
  border-bottom: solid 1px !important;
  border-bottom-color: gray !important;
  text-decoration: none;
}

.list-button:hover,
.list-button:active,
.list-button::selection {
  background-color: #1abc9c;
  color: black;
  text-decoration: none !important;
}
