.card:hover {
  border: solid 5px 5px black;
  transform: scale(1.02); /* Equal to scaleX(0.7) scaleY(0.7) */
  transition: background-color 0.3s ease;
  background-color: #000000;
}

.card {
  background: #ffffff6e; /* fallback for old browsers */
  color: white;
  background: -webkit-linear-gradient(
    to bottom,
    #1abc9c,
    black
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #1abc9c,
    30%,
    black
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 0 !important;
}

.text {
  height: 75px;
}

.row {
  max-width: 960px;
  min-height: 200px;
  margin-left: Auto;
  margin-right: Auto;
  padding-top: 10px;
  margin-bottom: 1em;
  color: white;
  text-align: left;
  border: solid 1px #000000;
  border-bottom: solid 1px white;
  position: relative;
  vertical-align: middle;
  background-color: #1a1a1b !important;
  border-radius: 8px;
}

.row::before::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

/* .row:hover {
  border: solid 1px #1abc9c;
} */

.row {
  background: none;
  border: 0;
  box-sizing: border-box;
  padding: 1em 1em;
  box-shadow: inset 0 -2px 0 0px white;
  color: white;
  position: relative;
  vertical-align: middle;
}
.row::before,
.row::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.draw {
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}
.draw::before,
.draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}

.draw:hover::before,
.draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: #1abc9c;
  border-right-color: #1abc9c;
  -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: #1abc9c;
  border-left-color: #1abc9c;
  -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
    height 0.25s ease-out 0.75s;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
    height 0.25s ease-out 0.75s;
}

.meet::after {
  top: 1;
  left: 0;
}
.meet:hover::before {
  border-top-color: #fbca67;
  border-right-color: #fbca67;
}
.meet:hover::after {
  border-bottom-color: #fbca67;
  border-left-color: #fbca67;
  -webkit-transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}

.center::before,
.center::after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
}
.center::before {
  border-radius: 8px;
  border-top: 2px solid #1abc9c;
  border-bottom: 2px solid #1abc9c;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
}
.center::after {
  border-radius: 8px;
  border-left: 2px solid #1abc9c;
  border-right: 2px solid #1abc9c;
  -webkit-transform: scale3d(1, 0, 1);
  transform: scale3d(1, 0, 1);
}
.center:hover::before,
.center:hover::after {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.tags {
  background: #272729;
  border-radius: 2px;
  color: #1abc9c;
  margin: 4px 6px;
  margin-top: 10px;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  white-space: nowrap;
  z-index: 10;
}

.tags:hover {
  background: #1abc9c;
  color: black;
  border-radius: none;
}

.match {
  outline: solid 2px #1abc9c;
  border-radius: none;
}

.match:after {
  content: " ";
  color: aliceblue;
}

.icon {
  z-index: 1;
  display: inline;
  color: rgba(255, 255, 255, 0.822);
  position: relative;
}

.icon .tooltiptext {
  visibility: hidden;
  width: 150px;
  top: -10px;
  right: 105%;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.822);
  font-weight: lighter;
  text-align: center;
  padding: 10px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 2;
}

/* Show the tooltip text when you mouse over the tooltip container */
.icon:hover .tooltiptext {
  visibility: visible;
}
