.commitContainer {
  border-bottom: solid 1px white;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
  color: white;
}

.description {
  width: 100%;
  background-color: #1a1a1b;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}

.commitContainer::after {
  content: "";
  clear: both;
  display: table;
}

.projectItem {
  background-color: black;
  color: #d7dadc;
  padding-bottom: 15px;
  margin: 10px;
  border-radius: 8px;
  text-align: left;
}
