.container {
  color: white;
  margin-top: 50px;
}

.container a {
  text-decoration: none;
}

.card {
  color: black;
}

.projectItem {
  background-color: black;
  color: #d7dadc;
  padding-bottom: 15px;
  margin: 10px;
  border-radius: 8px;
  text-align: left;
}

.description {
  width: 100%;
  background-color: #1a1a1b;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}

.image {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.usersListItem {
  background-color: #1a1a1b;
  border: none;
  border-bottom: solid 1px !important;
}

.usersListItem:hover {
  background-color: #1abc9c;
  color: black;
}

.chatBox {
  height: 400px;
  overflow-y: auto;
}

.chatContainer {
  border: 2px solid #333;
  background-color: #444;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  color: white;
}

/* Darker chat container */
.darker {
  border-color: #0e5346;
  background-color: #105e4e;
}

/* Clear floats */
.chatContainer::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.chatContainer img {
  float: left;
  max-width: 60px;
  width: 100%;
  max-height: 60px;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.chatContainer img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

/* Style time text */
.timeRight {
  float: right;
  color: #aaa;
}

/* Style time text */
.timeLeft {
  float: left;
  color: #ddd;
}

.newMessage {
  width: 100%;
  min-height: 100px;
  border-radius: 8px;
  margin-top: 20px;
  text-align: left;
  align-content: top;
  resize: none;
  overflow-y: auto;
}

.newMessage:focus {
  outline: none !important;
}

.joinButton {
  margin-top: 10px;
  padding-top: 10px;
  margin: 5px;
  background-color: #1abc9c;
  color: white;
}

.sendButton {
  padding: 109px;
  margin-top: 40%;
}

.customButton {
  background-image: linear-gradient(
    to right,
    #00795a 0%,
    #004d40 51%,
    #00795a 100%
  );
  border-width: 0px;
  margin-bottom: 10px;
  outline: none;
  border-radius: 12px;
}

.btn {
  flex: 1 1 auto;
  margin: 10px;
  margin-top: 40px;
  margin-left: -5px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #000000;
  border-radius: 10px;
}

.btn:hover {
  background-position: right center;
}
