.customForm {
  width: 100%;
  background: transparent;
  color: white;
  font-size: 16px;
}

.customInput {
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
  margin-bottom: 15px;
  border-radius: 0%;
  border-bottom: solid 1px !important;
  color: white;
  font-size: 16px;
}

.customInput:active,
.customInput:focus {
  background: transparent;
  border: none;
  outline: none;
  color: white;
}
