.App {
  text-align: center;
  background-color: black;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  background-color: black;
  margin: 0;
}

.profile-container {
  min-height: 400px;
  width: 400px;
  margin-top: 15px;
}

nav {
  background-color: #1a1a1b;
  color: #d7dadc;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  height: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
