.tags {
  background: #272729;
  border-radius: 2px;
  color: #1abc9c;
  margin: 4px 6px;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  white-space: nowrap;
  z-index: 10;
}

.tags:hover {
  background: #1abc9c;
  color: black;
}
