.Link {
  text-decoration: none;
  color: white;
  margin: 5px;
}

.Link:hover {
  text-decoration: none;
  color: rgb(206, 206, 206);
}

.dropdownLink {
  text-decoration: none;
  color: black;
}

.dropdownLink:hover {
  text-decoration: none;
}

.navbar-custom {
  background: #1a1a1b;
  color: #d7dadc;
  height: 100px;
}
