.customButton {
  background-image: linear-gradient(
    to right,
    #00795a 0%,
    #004d40 51%,
    #00795a 100%
  );
  border-width: 0px;
  margin-bottom: 10px;
  outline: none;
  border-radius: 12px;
}

.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #000000;
  border-radius: 10px;
}

.btn:hover {
  background-position: right center;
}
.form-textarea {
  resize: none;
}
