.customForm {
  width: 100%;
  background: transparent;
  color: white;
}

.createProject {
  min-width: max-content;
  text-align: left;
}

.customInput:active,
.customInput:focus {
  background: transparent;
  border: none;
  outline: none;
}

.description {
  width: 100%;
  background-color: #1a1a1b;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}

.container {
  color: white;
  margin-top: 50px;
}

.projectItem {
  background-color: black;
  color: #d7dadc;
  padding-bottom: 15px;
  margin: 10px;
  border-radius: 8px;
  text-align: left;
}

.margins {
  padding-left: 15px;
  padding-right: 17px;
}
